<div class="col-md-12 padding-bottom text-right">
	Sort by
	<!-- Category Dropdown Btn -->
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Category <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#">Category Name</a></li>
			<li><a href="#">Category Name</a></li>
			<li><a href="#">Category Name</a></li>
			<li><a href="#">Category Name</a></li>
		</ul>
	</div><!-- / Category Dropdown Btn -->
</div>

<!-- Blogged Bucket List Items -->
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div>
<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
	  	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="...">
	  	<div class="caption">
	    	<h3>Bucket List Item</h3>
	    	<div class="blog-post-details">
	    		<p>Category Name</p>
		    	<p>mm/dd/yyyy in Seattle</p>
		    </div>
	    	<p>Description Cornhole Helvetica next level cred Pitchfork gentrify artisan. Mixtape hella occupy crucifix shabby chic. Butcher Truffaut Pitchfork blog fixie. Shabby chic raw denim street art, tote bag bitters.</p>
	  	</div>
	</div>
</div><!-- / Blogged Bucket List Items -->
 
