<!-- Yes Category -->
<% if @category %>
	<% @category.each do |one_item| %>
		<div class="col-md-3">
		
			<h3><%= one_item['name'] %></h3>
			<p><%= one_item['description'] %></p>

			<!-- Display Tallies in Category -->
			< % if @one_item['tally'] %>
				<ul class="col-md-offset-3 col-xs-offset-2 text-left">
				< % if @one_item['tally'].each do |one_tally| %>
					<li>< %= one_tally['title'] %></li>
					< % end %>
				< % end %>
				</ul>
			< % end %><!-- End Tallies in Category -->

		</div>
	<% end %>
<% else %>
<!-- No Category -->
	<p>Sorry! The blogger has no categories to sort the tallies.</p>
<% end %>